html, body {
	height: 100%;
	width: 100%;
    margin: 0;
	padding: 0;}

body {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	width: 65vh;
	min-width: 320px;
	max-width: 90%;
	margin: auto;

    background-color: #fefefe;
    
    letter-spacing: .13em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

#test {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 35vh;
    min-height: 175px;
    width: 100%;
    
    background: rgb(170, 255, 248);
    color: rgb(255, 51, 68);
    font-weight: bold;
}
@media only screen and (max-height: 700px) {
	#test {
		margin-top: 0.5em;
	}
}
@media only screen and (max-height: 560px) {
	#test {
		margin-top: 1em;
	}
}
@media only screen and (max-height: 420px) {
	#test {
		margin-top: 2em;
	}
}

#ellipsis .dot {
    color: rgb(170, 255, 248);
}
#ellipsis .dun {
    color: rgb(255, 51, 68);
}

#repo {
    width: 100%;
    margin-top: 1em;
    text-align: right;
}
#repo, #repo a {
    color: rgb(137, 219, 212)
}
